azure-core==1.29.5
azure-storage-blob==12.19.0
azure-storage-file-datalake==12.14.0
azure-storage-file-share==12.15.0
azure-storage-queue==12.8.0
Flask==3.0.0
Flask-MySQL==1.5.2
Flask-MySQLdb==2.0.0
mysql-connector-python==8.2.0
mysqlclient==2.2.0
numpy==1.23.4
Pygments==2.14.0
PyMySQL==1.1.0
uri-template==1.2.0
urllib3==1.24.3
Werkzeug==3.0.1
